*{
    margin: 0px;
    padding: 0px;
}
body{
    background:black;
}
header{
    border:solid gray 1px;
    background-color:black;
    /* color: white; */
    font-family: Arial, Helvetica, sans-serif;
}
/* nav{
    display: flex;
}
nav ul{
    display: flex;
    height: 70px;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    /* padding: 20px;

} */
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 125px;
    padding: 4px 600px;
}

.container{
    min-height: 75vh;
}
.info{
    background: red;
    color:white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.search{
    display: flex;
    justify-content: center ;
    align-items: center;
    color: aqua;
}
.search input{
    width: 350px;
    height: 20px;
    margin: 10px 515px;
    border-radius: 5px;

}
.cover{
    color: bisque;
    border: solid red 2px;
    margin: 10px;
    padding: 5px;
    height: 3vh;
    width: fit-content;

}
.movies{
    margin: 30px;
    gap: 7%;
    /* width: 200px; */
    /* height: 200px; */
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

footer{
    border: solid gray 1px;
    color: white;
    background-color:black;
    height: 12vh;

}
.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.movies > img{
  width: 300px;
  margin: 20px;
}
